// Colors
$gral__color: #ffffff;
$back__color: #0F3057;
$mid__color: #00587A;
$sec__color: #505B87;
$gray__color: #C4C4C4;
$accent__color: #D2E603;


//fonts
$font__prin: 'Inter', sans-serif;
$font__sec: 'Poppins', sans-serif;

//Weight

$light: 300;
$regular: 400;
$extrabold: 800;

// Others

$speed: 500ms;
