.card {
  max-width: 43.4rem;
  height: 30.5rem;  
  background-color: $sec__color;
  padding: 6rem 5.4rem;
  border-radius: .6rem;

  @include tablet__768 {
      height: auto;
      padding-right: 2rem;
      min-width: 32rem;
  }

  @media (max-width: 375px) {
         max-width: 70%;
        flex-direction: column;
        gap: 10px;

      }
}

.row__profile {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-family: $font__prin;
    font-size: 2.4rem;
    font-weight: $light;
}

.card__description {
    font-family: $font__prin;
    font-size: 2rem;
    font-weight: 200;
    margin-top: 2.5rem; 
}

.card:hover {
  transition-duration: 0.3s;
  border: 1px solid white;
}


