.dropdown-menu{
    background-color: rgba(0, 0, 0, .4);
    width: 15rem;
    position: absolute;
    top: 3rem;
    // padding: 2rem;
}

.dropdown-menu.active {
    display: flex;
    flex-direction: column;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: $speed ease;
    color: white;
    // padding: 2rem; 
    
}

.dropdown-menu.inactive {
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: $speed ease;
}

.dropdown-menu.active li {
    margin-top: -1rem;
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;    
    width: 100%;

}
.dropdown-menu.active li:first-child {
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.dropdown-menu a {
    text-decoration: none;
    display: inline-block;
    padding:  .5rem 1rem;
    color: white;
    width: 100%;
}

.dropdown-menu.active ul li a:hover {
    color: $accent__color;
    cursor: pointer;
}

.dropdownItem {      
  text-decoration: none;
  display: flex;
  margin-top: 0;
  
  a:hover {
    color: $accent__color;
  }  
} 
