.footer__section {
    width: 100%;
    height: 17rem;
    padding-top: 3.3rem;
    text-align: center;
    overflow: hidden;

    @include desk__1440 {
        height: 11.6rem;
    }
}

.footer__container {
    width: 90%;
    margin: 0 auto;
}

.footer__logos {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include desk__1440 {
        justify-content: left;
    }
}

.footer__danone {
    width: 4.7rem;

    @include desk__1440 {
        margin-right: 2rem;
    }
}

.footer__vitalinea {
    height: 3rem;

    @include desk__1440 {
        justify-self: right;
        margin-right: 2rem;
        margin-left: auto;
    }
}

.footer__group {
    margin-top: 2.6rem;

    @include tablet__768 {
        display: none;
    }
}

.footer__politicas {
    margin-bottom: 0;
}

.footer__copyright {
    margin-top: .5rem;
}

.footer__group__desk {
    display: none;

    @include tablet__768 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    @include desk__1440 {
        text-align: left;
    }
}